* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 20px;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.page {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  border: black 1px solid;
  background-color: lightcoral;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 25%;
  width: 500px;
  height: 380px;
  border-radius: 8px;
  z-index: +1;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  background: lightblue;
  padding: 5px 16px 5px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal__content-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
}

.content-clock {
  margin-top: 120px;
  font-weight: 900;
  color: darkblue;
}

.content-list {
  margin-bottom: 50px;
  font-weight: 900;
  color: darkblue;
}

.description {
  border: none;
  margin-top: 65px;
  margin-bottom: 15px;
  background-color: lightcoral;
}

.description:hover {
  background-color: yellow;
}

.title {
  border: none;
  border-bottom: 4px solid green;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 22px;
}

.title:hover {
  background-color: yellow;
}

.time {
  display: flex;
  align-items: center;
  border: none;
  margin-top: 30px;
}

.time-date {
  border: none;
}

.time-start {
  border: none;
  width: 90px;
  background-color: lightcoral;
  margin-left: 5px;
}
.time-end {
  border: none;
  background-color: lightcoral;
  width: 90px;
}
.save__button {
  float: right;
  margin-top: 110px;
  margin-left: 16px;
  font-size: 40px;
  font-weight: 900;
  width: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.save__button:hover {
  color: green;
}

.create-event {
  display: flex;
  flex-direction: column;
}
.close__button {
  float: right;
  font-weight: 900;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close__button:hover {
  color: red;
}

.hidden {
  display: none;
}

.popup {
  display: none;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 1px black;
  -moz-box-shadow: 0px 0px 10px 1px black;
  box-shadow: 0px 0px 10px 1px black;
  width: 135px;
  height: 39px;
  border-radius: 8px;
  left: 100px;
  top: 15px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.trash {
  color: black;
  position: absolute;
  top: 7px;
  left: 12px;
}

.delete {
  font-weight: 900;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 135px;
  height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete:hover {
  background-color: red;
  color: white;
}
